:root {
  /** 主题颜色 */

  /*
  --vp-c-brand-1: #5086a1;
  --vp-c-brand-2: #6aa1b7;
  --vp-c-brand-3: #8cccd5;
  --vp-c-brand-soft: rgba(131, 208, 218, 0.314);
  */

  /** 背景颜色 */

  /*
  --vp-c-bg: #fff;
  --vp-c-bg-alt: #f6f6f7;
  --vp-c-bg-elv: #fff;
  --vp-c-bg-soft: #f6f6f7;
  */

  /** 文本颜色 */

  /*
  --vp-c-text-1: rgba(60, 60, 67);
  --vp-c-text-2: rgba(60, 60, 67, 0.78);
  --vp-c-text-3: rgba(60, 60, 67, 0.56);
  */

  /* 文章文本大小 */
  font-size: 1.2em;
  --vp-custom-block-font-size: .875em;

  .vp-doc p {
    line-height: 1.75em;
  }

  .vp-doc blockquote>p {
    font-size: 1em;
    line-height: 1.5;
  }
  /* 博主介紹文字大小 */
  .vp-blog-profile p[data-v-2e7332cc] {
    font-size: 0.8rem; 
  }
  /* Code文本大小 */
  --vp-custom-block-code-font-size:1em;
  --vp-font-family-mono:  "Noto Sans TC", sans-serif;
  --vp-code-color: #2680B4;
  --vp-code-font-size:.875em;
  --vp-code-bg: #E0F0FD96;

  /* 聊天框 */
  @media (min-width: 960px) {
    .vp-chat {
      width: 100%;
    }
  }
  /* 聊天背景顔色 */
  --vp-chat-c-bg-self:rgba(113 187 84 / 0.8); 
  .vp-chat .vp-chat-message-body .message-content{
    border-radius: 25px;
  }
  /* 代碼語法 */
  .vp-doc div[class*="language-"],
  .vp-block {
    margin: initial;
  }
}

/** 深色模式 */
[data-theme="dark"] {
  /*
  --vp-c-brand-1: #8cccd5;
  --vp-c-brand-2: #6aa1b7;
  --vp-c-brand-3: #5086a1;
  --vp-c-brand-soft: rgba(131, 208, 218, 0.314);
  */

  /*
  --vp-c-bg: #1b1b1f;
  --vp-c-bg-alt: #161618;
  --vp-c-bg-elv: #202127;
  --vp-c-bg-soft: #202127;
  */

  /*
  --vp-c-text-1: rgba(255, 255, 245, 0.86);
  --vp-c-text-2: rgba(235, 235, 245, 0.6);
  --vp-c-text-3: rgba(235, 235, 245, 0.38);
  */

    /* Code文本大小 */
    --vp-custom-block-code-font-size:1em;
    --vp-font-family-mono:  "Noto Sans TC", sans-serif;
    --vp-code-color: #E7C142;
    --vp-code-font-size:.875em;
    --vp-code-bg: #313131;
}